*{
        padding: 0;
        margin: 0;
    }

body{
    background-color: black;
    width: auto;
    height: auto;
    list-style: none;
    font-family:'franklin-gothic-urw-comp';
    


}

#menu,#items{
    display: none;
    list-style: none;
}

    
    

#one{
    text-align:right;
    color: white;
    text-decoration: none;
    margin: 20px;
    
   
    
}


#two{
    font-family:'franklin-gothic-urw-comp';
    text-align:center;
    color: white;
    text-decoration: none;
    color: black;
}


h1,#one{
    color: black;
    background-color:#98EF02;
    display: inline;
    margin-top: 10px;
    font-size:2.95vw;
    font-size: 2.95vh;
    

}

#socialink{
    position:absolute;
    width:99%;
    bottom:0;
    text-align:center;
    text-decoration: none;
    color: white
    
}


@media (max-width: 500px){

    #one{
        display: none;
    }

   #menu{
        display: block;
        list-style: none;
    }

    *{
        padding: 0;
        margin: 0;
    }
    
    h1{
        background-color:#98EF02;

    }

    nav ul{
        float: left;
        
    }

    nav ul li {
        float: left;
        list-style: none;
        position: relative;
        
    }

    nav ul li img{
        width: 50px;
        height: 50px;
        background-color:#98EF02;
        margin-left: 10px;
        
    }

    nav ul li a {
        font-family:'franklin-gothic-urw-comp';
        color: black;
        
        
    

    }


    nav ul li ul {
        display: none;
        position: absolute;
        background-color:#98EF02;
        padding: 10px;
        

        
    }
    
    nav ul li:hover ul {
        display: block;
       
    }


    nav ul li ul li {
        width: 120px;
        margin-top: 10px;
        
        
    }



    nav ul li ul li a {
        padding: 8px 14px;
        text-decoration: none;
        font-size:  40px;
        font-size:  20px;
        
        
    }

    nav ul li ul li a:hover {
        background-color:#7ab614;

        
        
    }

} 
