

body{
    background-color: black;
    width: auto;
    height: auto;


}


h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    
    
    


}

#one{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    text-decoration: none;
    margin: 20px;
    
    
    


}

h1,#one{
    color: black;
    background-color:white;
    display: inline;
    margin-top: 10px;
    font-size:2vw;
    

}

#socialink{
    position:absolute;
    width:99%;
    bottom:0;
    text-align:center;
    text-decoration: none;
    color: white
    
}