

body{
    background-color: black;
    width: auto;
    height: auto;
    


}

#menu,#items{
    display: none;
}

h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    
    
    


}

#one{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align:center;
    color: white;
    text-decoration: none;
    margin: 20px;
    
   
    
}


#two{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align:center;
    color: white;
    text-decoration: none;
    color: black;
}


h1,#one{
    color: black;
    background-color:white;
    display: inline;
    margin-top: 10px;
    font-size:2.95vw;
    font-size: 2.95vh;
    

}

#socialink{
    position:absolute;
    width:99%;
    bottom:0;
    text-align:center;
    text-decoration: none;
    color: white;
    font-size:1.5vw;
    font-size: 1.5vh;
        
    
}


@media (max-width: 500px){
    #one{
        display: none;
    }

    #menu{
        display: block;
        list-style: none;
    }

    #items{
        text-decoration: none;
    }

    div a {
        text-decoration: none;
        color: white;
        font-size: 20px;
        padding: 15px;
        display:inline-block;
      }



    ul {
        display: inline;
        margin: 0;
        padding: 0;
    }


    ul li:hover {
        max-width: fit-content;
        background-color: white;
    }
    ul li:hover ul {display: block;}
    ul li ul {
        position: absolute;
        width: 100px;
        display: none;
        
    }

    ul li ul li { 
        background: white; 
        display: block; 
    }
    
    ul li ul li a {display:block !important;} 
    ul li ul li:hover {background: red;}
    
}

@media only screen and (orientation: landscape) {
    body {
      background-color: lightblue;
    }
  }
